<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServiceLibrary" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57625/ServiceLibrary.svc/localhost"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceLibrary"
                contract="ServiceLibraryReference.IServiceLibrary" name="WSHttpBinding_IServiceLibrary">
                <identity>
                    <userPrincipalName value="Georgi-PC\Georgi" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>