<?xml version="1.0"?>

<configuration>

  <system.serviceModel>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
     multipleSiteBindingsEnabled="true"/>

    <services>
      <service behaviorConfiguration="ServiceLibrary" name="WebServiceLibrary.ServiceLibrary">
        <endpoint address="localhost" binding="wsHttpBinding" contract="WebServiceLibrary.IServiceLibrary" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceLibrary">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

  <system.web>
    <compilation debug="true"/>
  </system.web>

</configuration>
